@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --sidebar-width-icon: 30rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer utilities {
  .hover-btn {
    @apply hover:transition hover:scale-110  hover:ease-out hover:duration-300 transition-all;
  }
}

@font-face {
  font-family: "Angelina";
  src: url("/fonts/Angelina.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LeagueSpartan-Bold";
  src: url("/fonts/LeagueSpartan-Bold.ttf") format("truetype"),
    url("/fonts/LeagueSpartan-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand-VariableFont_wght";
  src: url("/fonts/Quicksand-VariableFont_wght.ttf") format("truetype"),
    url("/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.bgnew {
  background: #FFD700;
  background: linear-gradient(
    40deg,
    #d6b709 17%,
    #a28b0b 41%,
    #665701 56%,
    #ffd900 80%
  );
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.new {
  background-color: #5EEAD4 ;
  box-shadow: 0 0 3px 1px #70b87e, 0 0 7px 5px #0d9a03,
    0 0 10px 5px rgb(11, 207, 207);
  background: linear-gradient(
    40deg,
    #19e5c6 17%,
    #156d60 41%,
    #40897e 56%,
    #1dad98 80%
  );
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.breath {
  animation: breath 4s linear infinite;
}

@keyframes breath {
  0% {
    transform: scale(0.98);
    opacity: 0.7;
  }
  50% {
    transform: scale(1);
    opacity: 0.9;
  }
  100% {
    transform: scale(0.98);
    opacity: 0.7;
  }
}

.text-transparent-border {
  font-size: 48px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px #479255;
  text-shadow: 4px 4px 8px rgba(12, 39, 9, 0.5);
}

.me:hover > .card {
  transform: rotateY(180deg);
}
.card {
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  z-index: 1;
  transform: rotateY(180deg);
}

.water {
  background-color: skyblue;
  position: relative;
  clip-path: polygon(0% 10%, 100% 10%, 90% 100%, 10% 100%);
}

.water:before,
.water:after {
  content: "";
  position: absolute;
  width: 24.5rem;
  height: 24.5rem;

  left: -3rem;
  background-color: #fff;
}

.missed,
.missed > span {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #074835;
  color: transparent;
}

.loop-wrapper {
  margin: 0 auto;
  position: relative;
  display: block;
  width: 600px;
  height: 250px;
  overflow: hidden;
  border-bottom: 3px solid #fff;
  color: #fff;
}

.hill {
  position: absolute;
  right: -900px;
  bottom: -50px;
  width: 400px;
  border-radius: 50%;
  height: 20px;
  box-shadow: 0 0 0 50px #4db6ac, -20px 0 0 20px #4db6ac, -90px 0 0 50px #4db6ac,
    250px 0 0 50px #4db6ac, 290px 0 0 50px #4db6ac, 620px 0 0 50px #4db6ac;
  animation: hill 4s 2s linear infinite;
}

.rock {
  margin-top: -17%;
  height: 2%;
  width: 2%;
  bottom: -2px;
  border-radius: 20px;
  position: absolute;
  background: #ddd;
}
.truck,
.wheels {
  transition: all ease;
  width: 85px;
  margin-right: -60px;
  bottom: 0px;
  right: 50%;
  position: absolute;
  background: #eee;
}
.truck {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/truck.svg)
    no-repeat;
  background-size: contain;
  height: 60px;
}
.truck:before {
  content: " ";
  position: absolute;
  width: 25px;
  box-shadow: -30px 28px 0 1.5px #fff, -35px 18px 0 1.5px #fff;
}
.wheels {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/wheels.svg)
    no-repeat;
  height: 15px;
  margin-bottom: 0;
}

.rock {
  animation: rock 4s -0.53s linear infinite;
}
.truck {
  animation: truck 4s 0.08s ease infinite;
}
.wheels {
  animation: truck 4s 0.001s ease infinite;
}
.truck:before {
  animation: wind 1.5s 0s ease infinite;
}

@keyframes rock {
  0% {
    right: -200px;
  }
  100% {
    right: 2000px;
  }
}
@keyframes truck {
  0% {
  }
  6% {
    transform: translateY(0px);
  }
  7% {
    transform: translateY(-6px);
  }
  9% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(-1px);
  }
  11% {
    transform: translateY(0px);
  }
  100% {
  }
}
@keyframes wind {
  0% {
  }
  50% {
    transform: translateY(3px);
  }
  100% {
  }
}

@keyframes hill {
  100% {
    transform: translateX(-2000px);
  }
}
/* HTML: <div class="loader"></div> */
.loader {
  display: inline-flex;

  background:
    var(--c) calc(50% - 5px)/5px 5px,
    var(--c) calc(50% + 5px)/5px 5px;
}
.loader::before,
.loader::after {
  content: "12 00 23 40 31 45 60 17 45 32 29 42 50 08 14 07 46 11 03 55";
  font-size: 3.25rem;

  font-family: monospace;
  font-weight: bold;
  line-height: 1em;
  height: 60%;
  width: 100%;
  color: #05130f;
  text-shadow: 0 0 0 #dc1010;
  overflow: hidden;
  margin: 5px 10px; 
  animation: l3 1s steps(20) infinite;
}
.loader::before {
  animation-duration: 1.5s;
}
@keyframes l3 {
  100% {text-shadow: 0 -20em 0 #000}
}

.card:hover > :not(:hover){
  transform:scale(0.95);
  transition: all ease 0.2s;
}